

.mainhead {
    height: 90vh;
    min-height: 500px;
    background-image: url(Assests/runway-green.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
  }
